* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pre-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: #333333;
    margin: 0;
}

.first-logo-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

#empty-pre-nav{
    width: 60%;
}

.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    position: sticky;
    border-bottom: solid 1px #e5e5e5;
    padding: 5px;
}

.logo-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-links-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-links li{
    margin-right: 2px;
    display: inline;
    list-style: none;
    padding-right: 10px;
}

.nav-links a{
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(34, 34, 34);
}

.nav-links button{
    background-color: #2189db;
    height: 100%;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
}

.presentation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 70px;
    gap: 20px;
}

.presentation-container h2{
    font-size: 40px;
    font-weight: lighter;
}

.container-aluminium {
    display: flex;
    flex-direction: row;
    background-color: #cacaca;
    height: 360px;
    position: relative;
}

.al-img {
    display: flex;
    align-items: right;
}

.al-img img {
    width: 50%;
    position: absolute;
    right: -180px;
}


.al-h1 {
    padding-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.al-h1 h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: white;

}